.container {
    margin: auto;
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title {
    font-size: 30px;
}

.history-empty {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
    color: gray;
}

.transaction-history {
    margin: 10px;
    color: rgba(0, 0, 0, 0.664);
    
}

.transaction-history {
    border: 1px solid rgb(0, 0, 0);
}

.transaction-history th {
    background-color: rgb(119, 53, 7);
    color: white;
    width: 11%;
    padding: 15px;
}

.transaction-history td {
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    padding: 12px;
}