.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    margin: auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 20px;
}

.price {
    color: grey;
    font-size: 17px;
}

.amount {
    color: grey;
    font-size: 17px;
}

.chocolate-detail-link {
    text-decoration: none;
}