.topnav {
    overflow: hidden;
    position: relative;
    background-color: #e9e9e9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 50px;
    width: 100%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.topnav a {
    float: left;
    height: 100%;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    font-size: 17px;
    border: none;

    
}

.topnav a:hover, .topnav-right .logout:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: chocolate;
    color: white;
}

.topnav input[type=text] {
    padding: 6px 20px 6px 6px;
    margin: 8px 10px 0px 16px;
    border: none;
    font-size: 17px;
}

#search-button {
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    background-color: transparent;
    background-image: url('../../public/images/search-icon.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1rem;
    height: 1rem;
    margin-top: 8px;
}

.topnav-right {
    float: right;
    height: 100%;
    width: 7%;
}

.search-bar-form {
    display: flex;
    height: 100%;
    width: 100%;
}

.topnav-right .logout {
    border: none;
    width: 100%;
    font-size: 17px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .topnav input[type=text] {
        border: 1px solid #ccc;  
    }
}