.container {
    display: flex;
    flex-direction: column;
    max-width: 750px;
    margin: auto;
    height: 100%;
}

.add-chocolate-form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.add-chocolate-form > .text-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 0;
}

.text-input > label {
    min-width: 150px;
    font-size: 1.2rem;
}

.text-input > input, .text-input > textarea {
    width: 100%;
}

.add-chocolate-form > #button-submit {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 30vh;
    align-self: flex-end;
    border-radius: 20px;
    background-color: chocolate;
    border: none;
    color: white;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20vh;
    cursor: pointer;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.5);
    transition: background-color 0.2s ease;
}

.add-chocolate-form > #button-submit:hover {
    background-color: rgb(97, 49, 14);
}