body {
    height: 100vh;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

p {
    color: white;
    font-size: 1.5rem;
}

.background {
    background-image: url("../../public/images/choco-0.jpg");
    left: 0;
    height: 100%;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(10px);
    transform: scale(1.1); 
    z-index: -2;
}

.background > h1 {
    color: black;
}


.login-container {
    height: 100vh;
    z-index: 3;
    position: absolute;
    right: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.75);
}

.title {
    margin: 10vh 10vw;
    max-width: 60vh;
}

.title > h1 {
    color: white;
    font-size: 6rem;
    margin: 0;
    font-weight: bold;
}

.title > h2 {
    color: white;
    font-size: 3.5rem;
    margin: 0;
}

.title > p {
    color: rgba(187, 187, 187, 0.644);
    font-size: 1rem;
}

.login-card {
    /* border: 1px solid black; */
    background-color: rgb(105, 54, 18);
    box-shadow: 0px 0px 32px 0px rgba(0,0,0,0.75);
    height: 100%;
    width: 35vw;
    display: flex;
    flex-direction: column;
}

.box {
    /* border: 1px solid black; */
    width: 90%;
    padding: 2vh 2vw;
}

.box > h2 {
    font-size: 3.5rem;
    color: white;
    margin-bottom: 1rem;
}

input[type="text"], input[type="email"], input[type="password"] {
    border: none;
    background-color: transparent;
    outline: none;
    color: white;
    font-size: 1.5rem;
    padding-top: 2vh;
    border-bottom: 2px solid rgba(0,0,0,0.3);
}

#register-form, #login-form {
    margin-top: 2rem;
}

form > label, input[type="submit"] {
    align-self: flex-start;
    margin-top: 1.5rem;
    color: white;
}

.buttons {
    justify-content: space-around;
    height: 5vh;
    margin-top: 5vh;
}

.buttons > a {
    width: 30%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(187, 18, 18);
    border: 1px solid rgba(0,0,0,0);
    text-align: center;
    padding: 1.3vh 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

.buttons > a:hover {
    background-color: rgb(92, 5, 5);
}

input[type="submit"] {
    margin: 0;
    color: black;
    font-weight: bold;
    width: 30%;
    margin-bottom: 2rem;
    height: 100%;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border-radius: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    font-size: 1rem;
    transition: background-color 0.2s ease;
}

input[type="submit"]:hover {
    background-color: chocolate;
}

#fail-upload {
    position: absolute;
}